@model RSMS.WebClient.Models.Properties.PropertyViewModel;

<div class="modal fade" id="propertyModal" tabindex="-1" aria-labelledby="propertyModal" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Create" class="needs-validation" novalidate method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New @Model.Title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3 align-items-center">
                        <div class="col-6">
                            <label asp-for="@Model.PropertyObj.Number" class="m-0 form-label">Number</label>
                        </div>
                        <div class="col-6">
                            <input class="m-0 form-control" asp-for="@Model.PropertyObj.Number" type="text" maxlength="255" required />
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <div class="col-6">
                            <label asp-for="@Model.PropertyObj.Address" class="m-0 form-label">Address</label>
                        </div>
                        <div class="col-6">
                            <input class="m-0 form-control" asp-for="@Model.PropertyObj.Address" type="text" maxlength="255" required />
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <div class="col-6">
                            <label asp-for="@Model.PropertyObj.Area" class="m-0 form-label">Area</label>
                        </div>
                        <div class="col-6">
                            <input class="m-0 form-control" asp-for="@Model.PropertyObj.Area" step="0.01" type="" required />
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <div class="col-6">
                            <label asp-for="@Model.PropertyObj.ConstructionArea" class="m-0 form-label">Construction Area</label>
                        </div>
                        <div class="col-6">
                            <input class="m-0 form-control" asp-for="@Model.PropertyObj.ConstructionArea" step="0.01" type="number" />
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <div class="col-6">
                            <label class="form-label" asp-for="@Model.PropertyObj.PropertyTypeId">Property Type</label>
                        </div>
                        <div class="col-6">
                            <select class="form-select" asp-for="@Model.PropertyObj.PropertyTypeId" asp-items="@Model.PropertyTypes" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <div class="col-6">
                            <label class="form-label" asp-for="@Model.PropertyObj.OwnerId">Owner</label>
                        </div>
                        <div class="col-6">
                            <select class="form-select" asp-for="@Model.PropertyObj.OwnerId" asp-items="@Model.Owners" required>
                                <option selected disabled value="">Seleccione una opción</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>